body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
}

#description {
    display: flex;
    justify-content: center;
}

form {
    background-color: rgb(241, 237, 237);
    max-width: 500px;
    margin: 40px auto;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}

.form-control {
    margin-bottom: 10px;
}
 
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 10px;
    font-family: inherit;
    padding: 15px;
    display: block;
    /* margin-bottom: 10px; */
    width: 93%;
    font-size: 15px;
    background-color: #fff;
    
}

.form-control.inline label,
.form-control.inline input {
    margin-right: 10px;
    display: inline;
    width: unset;
}

button {
    background-color: unset;
    font-family: inherit;
    font-size: 20px;
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid darkmagenta;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;  
    padding: 10px; 
    
} 

button:hover {
    background-color: darkmagenta; 
    color: #fff;
    opacity: .6;
    
}