* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* text-decoration: none;
    text-align: center; */
    outline: solid red 1px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* line-height: 1.6; */
    color: aliceblue;
    /* background-color: #a8328f; */
}

.container {
    width: 100%;
    overflow: hidden;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* text-align: center; */
    align-items: center;
    /* justify-content: space-between;  */
}

/* h1, h2, h3, h4{
    text-transform: uppercase;
    margin-bottom: 15px;
} */
/* p {
    margin: 35px;
} */

img {
    width: 100px;
    
}

/* .head { 
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.nav {
    background-color: #000;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-img {
    max-width: 100px;
    /* height: 100px; */
    max-height: 100px;
}

.nav a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.nav ul {
    display: flex;
    margin-right: 10px;
}

.nav ul a {
    margin-left: 20px;
}

ul {
    list-style-type: none;
}

.nav a:hover {
    color:lightblue ;
}

section {
    display: flex;
    width: 80%;
    outline: solid blue 1px;
    margin: 20px 0;
    border-radius: 1rem;
}

section .content {
    padding: 30px ;
}

.hero .content p{
    margin-bottom: 15px;
}
.hero {
    background-color: #4c283a;
    color: #fff;
    /* min-height:400px; */
    line-height: 2;
}

.primary-title {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.section-title {
    font-size: 35px;
    color: rgb(6, 26, 26);
    margin: 30px 0;
} 

.btn {
    /* width: 400px; */
    height: 50px;
    text-transform: uppercase;
    background-color: rgb(48, 10, 83);
    color: #fff;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out .3s;
    outline: none;
}

.btn:hover {
    box-shadow: inset 200px 0 0 0 #f9e506;
    opacity: .8;
    cursor: pointer;
}

.featured {
    background-color: burlywood;
}

/* .featured__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-out .3s;
    color: #fff;

} */

/* .featured__item span {
    display: flex;
    flex-direction: column;
    font-weight: 800px;
} */


.featured__item:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.split {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: center; */
}

/* .split>* {
    flex-basis: 10%;
    min-width: 15em;
} */

/*.product {
    background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
    border-radius: 10px;
    padding: 3em;
    margin-bottom: 3em;
}


.Denim {
    --clr-inner: #008280;
    --clr-outer: #444;
    --clr-accent: limegreen;
    color: #ffc745;
}

.Sneaks {
    --clr-inner: #fcbe4c;
    --clr-outer: #463b6d;
    --clr-accent: #5fb9f5;
    color: crimson;
}

.Shirt {
    --clr-inner: #769;
    --clr-outer: #444;
    --clr-accent: #eb4949;
    color: rgb(46, 42, 18);
}

.form-control {
    width: 70%;
    padding: 20px;
    border-radius: 5px;
}
.foo {
    background-color: #000;
    margin: 20px;
    padding: 10px 20px;
}

@media (max-width: 100px) {
    #video {
        width: 50%;
        border-radius: 10px;
        margin-bottom: 10px;
    }
} */